<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <header> 
            <!-- Εδώ μπορούμε να βάλουμε ένα navigation bar ήτε οριζόντια ήτε κάθετα να γαίνεται στη σελίδα-->
        </header>

        <main>
            @RenderBody() <!--Εδώ θα εμφανίζονται όλα τα υπόλοιπα cshtml αρχεία όταν τα καλούμε-->
        </main>

        <footer>
            All rights belong to the owner of this project and the contributors
        </footer>
    </body>

</html>