<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,charset initial-scale=1.0">

        <!-- Εδώ μπορούμε να βάλουμε JavaScript αρχεία και CSS, τα οποία θα είναι global-->
    </head>
    <body>
        <header>
             <!-- Εδώ θα φτιάξουμε το Navigation -->
        </header>

        <main>
            @RenderBody() <!-- Εδώ θα εμφανίζονται οι σελίδες -->
        </main>

        <footer>
            All rights reserved
        </footer>
    </body>
</html>